@if(project().isShown || (project().isShownDev && data.isDevMode))
{

<a [href]="'/project/'+project().url.toLowerCase()">
    <div class="container-project" [style.borderColor]="project().color">
        <div class="project-logo" [style.backgroundImage]="'url(/images/'+project().backgroundImage+')'">
            <div class="colored-glass" [style.backgroundColor]="project().color">
                <div>
                    <img [src]="'images/projects/'+project().logo" />
                </div>
                <div>
                    {{ project().title }}
                </div>
            </div>
        </div>
        <div class="project-descr">
            <div class="descr">
                {{project().summary}}
            </div>
            <div class="stack">
                @for(tech of splitStack(project().stack); track $index)
                {
                <div class="tech" [style.backgroundColor]="project().color">
                    {{tech.trim()}}
                </div>
                }
            </div>
        </div>
    </div>
</a>
}