@defer(when data.isDataLoaded())
{
@if(data.projects().find(project => project.url.toLowerCase() === this.projectTitle); as project)
{
<div class="container-project">
    <div class="project-logo" [style.backgroundImage]="'url(/images/'+project.backgroundImage+')'">
        <div class="colored-glass" [style.backgroundColor]="project.color">
            <div class="logo"><img [src]="'images/projects/'+project.logo" /></div>
            <div class="title">{{ project.title }}</div>
        </div>
    </div>
    <div class="project-descr">
        <h1>{{ project.subtitle }}</h1>
        <div class="descr">

            @if(project.link !== '#')
            {
            <span> Link: <a [href]="project.link" target="_blank" rel="noopener">{{ project.link }}</a><br>
            </span>
            }

            Stack : {{ project.stack }} <br>

            <div class="page-content" [innerHTML]="project.page"></div>
            <!-- {{ project.page }} -->

        </div>
        <!-- <div class="visual">
            @if(checkVideo(project.visual))
            {
            <video controls loop ref="videoPlayer">
                <source [src]="videoUrl + project.visual" type="video/mp4">
                Your browser doesn't support videos.
            </video>
            }

            @if(checkImage(project.visual))
            {
            <picture v-if="isImage(project.visual)">
                <img [src]="imgUrl + project.visual" alt="Description">
            </picture>
            }

        </div> -->
    </div>
</div>

}
@else {
Project introuvable.
}
}
    @placeholder (minimum 10ms)
    {
    <div style="display:flex; justify-content: center; align-items: center;">
        <app-loader style="flex:1;"></app-loader>
    </div>
    }