@defer(when data.isDataLoaded())
{
    @if(data.projects().find(project => project.url.toLowerCase() === this.projectTitle); as project)
    {
        <div class="container-project">
            <div class="project-logo" [style.backgroundImage]="'url(/images/'+project.backgroundImage+')'">
                <div class="colored-glass" [style.backgroundColor]="project.color">
                    <div class="logo"><img [src]="'images/projects/'+project.logo" /></div>
                    <div class="title">{{ project.title }}</div>
                </div>
            </div>
            <div class="project-descr">
                <h1 [style]="'border-color:'+project.color+';'">{{ project.subtitle }}</h1>
                <div class="descr">

                    <!-- @if(project.link !== '#')
                    {
                    <span> Link: <a [href]="project.link" target="_blank" rel="noopener">{{ project.link }}</a><br>
                    </span>
                    } -->

                    <div class="stack">
                        @for(tech of splitStack(project.stack); track $index)
                        {
                            <div class="tech" [style.backgroundColor]="project.color">
                                {{tech.trim()}}
                            </div>
                        }
                    </div>

                    <div class="page-content" [innerHTML]="project.page"></div>
                </div>
            </div>
        </div>
    }
    @else 
    {
    Project introuvable.
    }
}
@placeholder (minimum 10ms)
{
    <div style="display:flex; justify-content: center; align-items: center;">
        <app-loader style="flex:1;"></app-loader>
    </div>
}