<div class="about-section">
    <div class="container section-descr">
        <div class="about">
            <div class="profile">
                <div class="profile-picture"><img src="/images/profile_pics/avat-daphne.jpg" /></div>
                <div class="name">Noe Narcisse</div>
                <div class="email"><img src="/email_icon.png" class="small-icons" /><a
                        href="mailto:noenarcisse.job@gmail.com">noenarcisse.job@gmail.com</a></div>
                <div class="location"><img src="/location_icon.png" class="small-icons" />Brussels, Belgium</div>
            </div>
            <div class="descr">
                <span>
                    Quality Assurance Tester / Automation based in Brussels. <br>
                    Currently enrolled in a QA Tester program at Digital.brussels with a ISTQB Foundation certification.
                    <br>
                    Previously worked as a character artist in games at Clever Trickster Studio and as a solo dev.<br>
                </span>
            </div>

        </div>

    </div>
    <div class="container">
        <div class="prod">
            <h2>Released games</h2>
            <div class="prods">
                @for(prod of prods; track $index)
                {
                @let key = prod[0];
                @let value = prod[1];

                <div class="list-prods">
                    <img [src]="value" /><br>
                    {{key}}
                </div>
                }
            </div>
        </div>
        <div class="skills">
            <h2>Skills</h2>
            <div class="list">
                @for(skill of skills; track $index)
                {
                <span class="list-elements">{{ skill }}</span>
                }
            </div>
        </div>
        <div class="skills">
            <h2>Languages</h2>
            <div class="list">
                @for(lang of languages; track $index)
                {
                <span class="list-elements">{{ lang }}</span>
                }
            </div>
        </div>
        <div class="prog_languages">
            <h2>Programming languages</h2>
            <div class="list">
                @for(tech of prog_languages; track $index)
                {
                <div class="list-elements list-elements2">
                    <div>
                        <img [src]="tech[1]" [alt]="tech[0]">
                    </div>
                    <div class="lang_name">
                        <span>{{tech[0]}}</span>
                    </div>
                </div>
                }
            </div>
            <h2>Others (notions or previously used)</h2>
            @for(oldtech of others; track $index)
            {
            <div class="list-elements list-elements2">
                <div>
                    <img [src]="oldtech[1]" [alt]="oldtech[0]">
                </div>
                <div class="lang_name">
                    <span>{{oldtech[0]}}</span>
                </div>
            </div>
            }

        </div>
        <div class="tech">
            <h2>Techs</h2>
            <div class="list">
                @for(tech of techs; track $index)
                {
                <span class="list-elements">{{ tech }}</span>
                }
            </div>
        </div>

    </div>
</div>