<div class="about-section">
    <div class="container descr">
        <div class="about">
            <div class="profile-picture"><img src="/images/profile_pics/avat-daphne.jpg" /></div>
            <div class="name">Noe Narcisse</div>
            <div class="email"><img src="/email_icon.png" class="small-icons" /><a
                    href="mailto:noenarcisse.job@gmail.com">noenarcisse.job@gmail.com</a></div>
            <div class="location"><img src="/location_icon.png" class="small-icons" />Brussels, Belgium</div>
            <p>
                Quality Assurance Tester based in Brussels. <br>
                Currently enrolled in a QA Tester program at Digital.brussels with a ISTQB Foundation certification.
                <br>
                Previously worked as a character artist in games at Clever Trickster Studio and as a solo dev.<br>
            </p>
        </div>

    </div>
    <div class="container">
        <div class="prod">
            <h1>Released games</h1>
            <div class="prods">
                @for(prod of prods; track $index)
                {
                @let key = prod[0];
                @let value = prod[1];

                <div class="list-prods">
                    <img [src]="value" /><br>
                    {{key}}
                </div>
                }
            </div>
        </div>
        <div class="skills">
            <h1>Skills</h1>
            <div class="list">
                @for(skill of skills; track $index)
                {
                <span class="list-elements">{{ skill }}</span>
                }
            </div>
        </div>
        <div class="prog_languages">
            <h1>Languages</h1>
            <div class="list">
                @for(tech of prog_languages; track $index)
                {
                <div class="list-elements list-elements2">
                    <div>
                        <img [src]="tech[1]" [alt]="tech[0]">
                    </div>
                    <div class="lang_name">
                        <span>{{tech[0]}}</span>
                    </div>
                </div>
                }
            </div>
                <h1>Others (notions or previously used)</h1>
                @for(oldtech of others; track $index)
                {
                <div class="list-elements list-elements2">
                    <div>
                        <img [src]="oldtech[1]" [alt]="oldtech[0]">
                    </div>
                    <div class="lang_name">
                        <span>{{oldtech[0]}}</span>
                    </div>
                </div>
                }
      
        </div>
        <div class="tech">
            <h1>Techs</h1>
            <div class="list">
                @for(tech of techs; track $index)
                {
                <span class="list-elements">{{ tech }}</span>
                }
            </div>
        </div>
    </div>
</div>