@if(project().isShown || (project().isShownDev && data.isDevMode))
{
    
<!-- [class]="props.pair ? 'pair' : ''" -->
<div class="container-project">
            <div class="project-logo" [style.backgroundImage]="'url(/images/'+project().backgroundImage+')'">
            <div class="colored-glass" [style.backgroundColor]="project().color">
            <div class="logo"><img [src]="'images/projects/'+project().logo" /></div>
            <div class="title">{{ project().title }}</div>
            </div>
        </div>
        <div class="project-descr">
            <h1>{{ project().subtitle }}</h1>
            <div class="descr">

                @if(project().link !== '#')
                {
                    <span> Link: <a [href]="project().link"
                            target="_blank"
                            rel="noopener">{{ project().link }}</a><br>
                    </span>
                }

                Stack : {{ project().stack }} <br>

                <h2>Objective</h2>
                {{ project().description.objective }}
                <h2>Challenge</h2>
                {{ project().description.challenge }}
                <h2>Solution</h2>
                {{ project().description.solution }}
            </div>
            <div class="visual">
                @if(checkVideo(project().visual))
                {
                    <video controls loop ref="videoPlayer">
                        <source [src]="videoUrl + project().visual" type="video/mp4">
                        Your browser doesn't support videos.
                    </video>
                }

                @if(checkImage(project().visual))
                {
                    <picture v-if="isImage(project().visual)">
                        <img [src]="imgUrl + project().visual" alt="Description">
                    </picture>
                }

            </div>
        </div>
    </div>

}