/* You can add global styles to this file, and also import other style files */
:root {
    --bg-color: #161616;

    --white: #DEE4E6;
    --yellow: #E2B61B;
    --gray: #323232;
    --black: black;

    --header: rgb(88, 60, 153);
    --app-bg: black;

    --radius: 20px;

    --glass-alpha: .6;
}

* {
    box-sizing: border-box;
    /* border:1px solid red; */
}

html,
body {
    /* height: 100%; */
    margin: 0px;
    padding-bottom:20px;

    color: var(--white);
}

body {
    background: var(--bg-color);
}

@keyframes colorShift {
    0% {
        background-color: rgba(186, 45, 32, var(--glass-alpha));
    }

    15% {
        background-color: rgba(245, 187, 39, var(--glass-alpha));
    }

    30% {
        background-color: rgba(69, 189, 68, var(--glass-alpha));
    }

    45% {
        background-color: rgba(68, 189, 167, var(--glass-alpha));
    }

    60% {
        background-color: rgba(89, 120, 212, var(--glass-alpha));
    }

    75% {
        background-color: rgba(169, 68, 201, var(--glass-alpha));
    }

    85% {
        background-color: rgba(201, 68, 159, var(--glass-alpha));
    }

    100% {
        background-color: rgba(186, 45, 32, var(--glass-alpha));
    }
}


#content {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

#app-menu {
    flex: 1;
}